body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #003336;
	background: #FFFFFF;
}
.title {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #003336;
}
.columnsHdr {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #003336;
}
.tableVals {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #003336;
}
.specimenVals {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	color: #003336;
}
.tableSize {
	width: 97%;
}

a {
	color: #003336;
}
