<HTML>
  <HEAD>
    <TITLE>Collections Report</TITLE>
    <SCRIPT language="JavaScript" type="text/JavaScript">
    <!--
    function submitEditFormRequest()
    {
      //alert("submitEditFormRequest();");
      // Form Values
      var theForm = document.forms[0];
      parent.mapFrame.UID = theForm.fieldUID.value;
      //alert(parent.mapFrame.UID);
    }

    //-->
    </SCRIPT>
    <!-- Place Holder <LINK href="css/attributes.css" type=text/css rel=stylesheet>-->
  </HEAD>
<BODY bgcolor="#FFFFFF">
  <FORM name="formEdit" method="post" action="http://geomobile/geoserver/wfs/TestWfsPost" target="_blank">
  <FONT color="#003336" size+1><B>Collection Record Report</B></FONT>
  <TABLE cellpadding=2 cellspacing=2 border=0>