  <TR><TD><FONT color="#003336">Unique Identifier:&nbsp;</FONT></TD><TD><FONT color="#003336">[object_key]</FONT></TD></TR>
  <TR><TD><FONT color="#003336">Scientific Name:&nbsp;</FONT></TD><TD><FONT color="#003336">[sciname]</FONT></TD></TR>
  <TR><TD><FONT color="#003336">Common Name:&nbsp;</FONT></TD><TD><FONT color="#003336">[commonname]</FONT></TD></TR>
  <TR><TD><FONT color="#003336">Family:&nbsp;</FONT></TD><TD><FONT color="#003336">[family]</FONT></TD></TR>
  <TR><TD><FONT color="#003336">Order:&nbsp;</FONT></TD><TD><FONT color="#003336">[ord]</FONT></TD></TR>
  <TR><TD><FONT color="#003336">Institution:&nbsp;</FONT></TD><TD><FONT color="#003336">[institcode]</FONT></TD></TR>
  <TR><TD><FONT color="#003336">Locality:&nbsp;</FONT></TD><TD><FONT color="#003336">[locality]</FONT></TD></TR>
  <TR><TD><FONT color="#003336">Latitude:&nbsp;</FONT></TD><TD><FONT color="#003336">[lat]</FONT></TD></TR>
  <TR><TD><FONT color="#003336">Longitude:&nbsp;</FONT></TD><TD><FONT color="#003336">[long]</FONT></TD></TR>
  <TR><td align="middle" colspan="2"><FONT color="#003336"><INPUT type="button" name="Edit" value="Edit Record" onClick="javascript:submitEditFormRequest();"></FONT></TD></TR>
  <TR><TD>&nbsp;</TD><TD>&nbsp;</TD></TR>
  <INPUT type="hidden" name="fieldUID" value="[object_key]">
  <INPUT type="hidden" name="url" value="http://www.geomuse.org:8080/geoserver/wfs">
  <INPUT type="hidden" name="body" value="">