Manifest-version: 1.0

Name: edu/berkeley
Implementation-Title: BioGeomancer Web Services
Implementation-Version: @version@
Implementation-Vendor:  University of California at Berkeley
Implementation-Vendor-Id: edu.berkeley
