Manifest-version: 1.0

Name: org/biogeomancer
Implementation-Title: BioGeomancer Web Application
Implementation-Version: @version@
Implementation-Vendor:  Museum of Vertebrate Zoology, UC Berkeley
Implementation-Vendor-Id: org.mvz
